@{
    ViewBag.Title = "Users";
}

<h2>Перечень пользователей</h2>
в процессе ...
<table border="1" cellspacing="0" cellpadding="10">
    <tr>
        <th >Пользователь</th>
        <th>Права доступа</th>
        <th>Дата создания</th>
        <th>Дата последнего входа</th>
    </tr>
    @{/*
        foreach (WhoChange item in ViewBag.WhoChange)
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.Login</td>
                <td>@item.OType</td>
                <td>@item.FIO</td>
                <td>@item.Set</td>
                <td>@item.Get</td>
            </tr>
        }
    */}

</table>
